*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
!build/
build/*
!build/outputs/
build/outputs/*
!build/outputs/arr/
build/outputs/arr/*
!build/outputs/arr/app-debug.arr
/captures
.externalNativeBuild
.cxx
local.properties
!app-debug.arr
